<div class="m-3 text-center">
  <h1>welcome to <strong><i class="fa-solid fa-book"></i>Bookers!!</strong></h1>
</div>
<footer class="shadow-sm pt-5 pb-4">
  <div class="container">
    <p class="text-center">CopyRight Infratop.inc</p>
  </div>
</footer>
